@import "tailwindcss";

@theme {
  /* COLORS */
  --color-background: #181818;
  --color-primary: #AA14F0;
  --color-font: #BC8CF2;
  --color-card: #2F2F2F;
  --color-stroke: #EEEEEE;
  --color-overlay: rgb(24 24 24 / 80%);
  --color-text-body: #EEEEEE;
  --color-notif: #FCA311;

  /* FONTS */
  --font-navbar: "Syne", sans-serif;
  --font-btn: "Inter", sans-serif;
  --font-h1: "Syne", sans-serif;
  --font-h2: "Archivo", sans-serif;
  --font-p: "Inter", sans-serif;
  --font-note: "Inter", sans-serif;

  /* FONT SIZES */
  --size-navbar: 22px;
  --size-btn: 18px;
  --size-h1: 40px;
  --size-h2: 25px;
  --size-p: 18px;
  --size-note: 15px;
}

@font-face {
  font-family: "OctopusGame";
  src: url("/src/assets/font/Octopus Game.ttf") format("truetype");
}


/* Sembunyikan scrollbar */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; 
}


html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Kode Mono', monospace;
}


/* Animasi Masuk WEB */
.logoGlow {
  opacity: 0;
  filter: blur(25px) brightness(1.3);
  transform: scale(0.7);
  animation: popIn 1.4s cubic-bezier(0.25, 0.8, 0.4, 1) forwards,
             glow 2s ease-in-out 1.4s infinite alternate;
}

@keyframes popIn {
  0% {
    opacity: 0;
    filter: blur(25px) brightness(1.3);
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    filter: blur(8px) brightness(1.1);
    transform: scale(1.06);
  }
  100% {
    opacity: 1;
    filter: blur(0) brightness(1);
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 3px #a86bff);
  }
  100% {
    filter: drop-shadow(0 0 12px #c69dff);
  }
}



.nav-item {
  position: relative;
  padding-bottom: 4px;
  transition: color .25s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #AA14F0;
  transition: width .25s ease;
}

.nav-item.active {
  color: #AA14F0;
  font-weight: 600;
}

.nav-item.active::after {
  width: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


