@import "tailwindcss";

@theme {
  --color-background:#181818;
  --color-primary:#AA14F0;
  --color-font:#BC8CF2;
  --color-card:#2F2F2F;
}

/* Sembunyikan scrollbar */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; 
}


html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Kode Mono', monospace;
}

.nav-item {
  position: relative;
  padding-bottom: 4px;
  transition: color .25s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #AA14F0;
  transition: width .25s ease;
}

.nav-item.active {
  color: #AA14F0;
  font-weight: 600;
}

.nav-item.active::after {
  width: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
