@import "tailwindcss";

@theme {
  /* COLORS */
  --color-background: #181818;
  --color-primary: #AA14F0;
  --color-font: #BC8CF2;
  --color-card: #2F2F2F;
  --color-stroke: #EEEEEE;
  --color-overlay: rgb(24 24 24 / 80%);
  --color-text-body: #EEEEEE;
  --color-notif: #FCA311;

  /* FONTS */
  --font-navbar: "Syne", sans-serif;
  --font-btn: "Inter", sans-serif;
  --font-h1: "Syne", sans-serif;
  --font-h2: "Archivo", sans-serif;
  --font-p: "Inter", sans-serif;
  --font-note: "Inter", sans-serif;

  /* FONT SIZES */
  --size-navbar: 22px;
  --size-btn: 18px;
  --size-h1: 40px;
  --size-h2: 25px;
  --size-p: 18px;
  --size-note: 15px;
}

@font-face {
  font-family: "OctopusGame";
  src: url("/src/assets/font/Octopus Game.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  src: url("/src/assets/font/Syne-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Syne";
  src: url("/src/assets/font/Syne-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/font/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("/src/assets/font/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .heading-1 {
    @apply font-h1 text-[40px] font-bold text-white leading-tight;
  }

  .heading-2 {
    @apply font-h2 text-[22px] text-white leading-tight;
  }

  .btn-prim {
    @apply font-btn text-[18px] text-white;
  }

  .body-text {
    @apply font-p text-[18px] text-text-body leading-relaxed;
  }

  .note {
    @apply font-note text-[15px] text-font leading-relaxed;
  }

  .notif {
    @apply font-note text-[15px] text-notif leading-relaxed;
  }

  .date {
    @apply font-note text-font text-xs bg-background px-2 py-1 rounded-lg;
  }

  .nav-link {
    @apply font-navbar text-[18px] transition-colors duration-200;
  }

  .btn-prim {
    @apply bg-primary text-white font-btn text-[length:var(--size-btn)] 
          rounded-[20px] 
          transition-all duration-200 
          hover:scale-105 hover:cursor-pointer hover:bg-purple-700
          max-w-fit py-2 px-6
  }

  .card {
    @apply w-full  min-h-fit
           px-10 py-10 
           bg-card/50 
           border border-stroke 
           backdrop-blur-md rounded-[20px]; 
  }
}


/* Sembunyikan scrollbar */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; 
}


html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Kode Mono', monospace;
}


/* Animasi Masuk WEB */
.logoGlow {
  opacity: 0;
  filter: blur(25px) brightness(1.3);
  transform: scale(0.7);
  animation: popIn 1.4s cubic-bezier(0.25, 0.8, 0.4, 1) forwards,
             glow 2s ease-in-out 1.4s infinite alternate;
}

@keyframes popIn {
  0% {
    opacity: 0;
    filter: blur(25px) brightness(1.3);
    transform: scale(0.7);
  }
  50% {
    opacity: 1;
    filter: blur(8px) brightness(1.1);
    transform: scale(1.06);
  }
  100% {
    opacity: 1;
    filter: blur(0) brightness(1);
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 3px #a86bff);
  }
  100% {
    filter: drop-shadow(0 0 12px #c69dff);
  }
}


.nav-item {
  position: relative;
  padding-bottom: 4px;
  transition: color .25s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #AA14F0;
  transition: width .25s ease;
}

.nav-item.active {
  color: #AA14F0;
  font-weight: 600;
}

.nav-item.active::after {
  width: 100%;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


